@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.large_image {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* unvisited link */
a:link {
  color: #fc0303;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #059e23;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #9e0505;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #0c07a3;
  text-decoration: none;
}